<div class="container">
  <div class="header">
    <a routerLink="/"
      ><img src="../../../../assets/img/logo.png" class="logo"
    /></a>

    <div *ngIf="!isLoggedIn" class="menu">
      <a href="javascript:;">{{ 'getTheApp' | translate }}</a>
      <a routerLink="/register" routerLinkActive="active">{{
        'register/login' | translate
      }}</a>
    </div>

    <div *ngIf="isLoggedIn && isSysAdmin" class="menu">
      <a routerLink="/admin/users" routerLinkActive="active">{{
        'users' | translate
      }}</a>
      <a routerLink="/admin/treasure-hunt" routerLinkActive="active">{{
        'treasureHunt' | translate
      }}</a>
    </div>

    <div *ngIf="isLoggedIn" class="profile">
      <!-- <button class="notification-button">
        <i class="far fa-bell"></i>
      </button> -->
      <div class="user-menu-wrapper">
        <div
          class="profile-photo"
          [ngStyle]="{
            'background-image': userProfileImage
              ? 'url(' + userProfileImage + ')'
              : 'url(../../../../assets/img/defaultAvatar.png)'
          }"
        ></div>
        <div class="user-menu">
          <ng-container *ngIf="isBrand">
            <a routerLink="/profile">Edit Profile</a>
            <a routerLink="/branding">Brand Identity</a>
            <a
              href="mailto:support@venubox.co.uk?subject=I need support (ID {{
                userId
              }})"
              >Support</a
            >
            <a routerLink="/help">Online Help</a>
            <hr />
          </ng-container>

          <a href="javascript:;" class="logout-link" (click)="logout()"
            >Logout</a
          >
        </div>
      </div>
    </div>
  </div>
</div>
