@import '../../../../assets/scss/variables';

.input {
  width: 100%;
  padding: 6px 8px;
  border: 1px solid #dadbdb;
  border-radius: 3px;
  outline: none;
  font-size: 16px;
  color: #666;
  background: rgba(245, 248, 249, 0.3);
  transition: all 0.2s;

  &:focus {
    color: black;
    font-weight: 500;
    border-color: $primary;
    box-shadow: 0 0 5px $primary;
  }

  &.ng-touched.ng-invalid {
    border-color: $error !important;
  }
}
