<div class="container py-5">
  <div class="row">
    <div class="col-md-4 offset-md-4">
      <h1 class="font-weight-normal">Forgot password</h1>

      <form
        class="form"
        [formGroup]="form"
        (submit)="sendCode()"
        *ngIf="step === 'email'"
      >
        <app-alerts [alerts]="alerts"></app-alerts>
        <div class="form-group">
          <label for="email">{{ 'yourEmail' | translate }}</label>
          <app-text-input
            inputName="email"
            size="lg"
            [formControl]="form.controls['email']"
            type="email"
          >
          </app-text-input>
        </div>

        <button
          [class.button-loading]="isLoading"
          type="submit"
          class="button button-primary mt-2 w-100"
        >
          {{ 'sendCode' | translate }}
        </button>
      </form>

      <form
        class="form"
        [formGroup]="codeForm"
        (submit)="resetPassword()"
        *ngIf="step === 'code'"
      >
        <app-alerts [alerts]="alerts"></app-alerts>
        <div class="form-group">
          <label for="code">{{ 'code' | translate }}</label>
          <app-text-input
            inputName="code"
            size="lg"
            [formControl]="codeForm.controls['code']"
          >
          </app-text-input>
        </div>

        <div class="form-group">
          <label for="password">{{ 'newPassword' | translate }}</label>
          <app-text-input
            inputName="password"
            size="lg"
            [formControl]="codeForm.controls['password']"
            type="password"
          >
          </app-text-input>
        </div>

        <button
          [class.button-loading]="isLoading"
          type="submit"
          class="button button-primary mt-2 w-100"
        >
          {{ 'reset password' | translate }}
        </button>
      </form>

      <!-- <div class="mt-2">
        <a href="javascript:;" (click)="toggleStep()">{{
          (step === 'email' ? 'iHaveCode' : 'iDontHaveCode') | translate
        }}</a>
      </div> -->
    </div>
  </div>
</div>
