@import '../../../../../assets/scss/variables';

#map {
  height: 500px;
  position: relative;
}

.location-input-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 20px;
  margin-top: 20px;
  z-index: 99;
  background: white;
  width: 250px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
  overflow: hidden;

  form {
    display: flex;
    flex-direction: row;
    align-items: center;
  }

  input {
    border: none;
    padding: 6px 8px;
    outline: none;
    width: 100%;

    &:focus {
      border: none;
      outline: none;
    }
  }

  .vertical-line {
    content: '';
    width: 0px;
    height: 20px;
    margin-left: 8px;
    margin-right: 8px;
    border-left: 1px solid lighten($secondary, 25);
  }

  .buttons-wrapper {
    display: flex;
    flex-direction: row;
    padding-right: 8px;

    button {
      border: none;
      margin: 0;
      background: none;
      padding: 0 8px;
      border-radius: 5px;
      font-size: 14px;
      color: #777;
      outline: none;

      &:hover {
        background: #eee;
      }
    }
  }
}
.map-details {
  position: absolute;
  top: 50px;
  left: 0;
  max-width: 250px;
  background: white;
  border-radius: 5px;
  padding: 16px;
  margin: 20px;
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.25);

  .form-group {
    label {
      font-size: 13px !important;
      margin-bottom: 0 !important;
    }
    .radius {
      display: flex;
      align-items: flex-end;

      .span {
        font-size: 20px;
        margin-left: 8px;
      }
    }
  }

  .buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
  }

  button {
    min-width: 0 !important;
    width: 100%;
  }
}
