@import '../../../assets/scss/variables';

.page-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 50px;

  .header-title {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 18px;
      font-weight: 400;
    }

    .subtitle {
      color: lighten($secondary, 30) !important;
      font-size: 14px;
    }
  }
}

.step-items-wrapper {
  width: 250px;
  position: relative;

  .step-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 32px;
    max-width: 250px;
    position: relative;
    align-items: center;
  
    .step-info {
      text-align: right;
      width: 175px;
  
      .step-title {
        font-size: 15px;
      }
  
      .step-subtitle {
        color: lighten($secondary, 30) !important;
        font-size: 14px;
      }
    }
  
    .step-number {
      height: 30px;
      width: 30px;
      border-radius: 15px;
      border: 1px solid lighten($secondary, 50);
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 15px;
      background: #ffffff;
  
      &.current-step {
        background: $primary;
        border-color: $primary;
        color: #ffffff;
      }
  
      &.previous-step {
        border-color: $primary;
        color: $primary;
      }
    }
  
    .line-dot {
      height: 7px;
      width: 7px;
      content: '';
      background: #dde0e5;
      border-radius: 3.5px;
      position: absolute;
      right: 12px;
      bottom: -20px;
    }
  }
  
  .vertical-line {
    border-left: 1px solid lighten($secondary, 50);
    position: absolute;
    right: 15px;
    z-index: -1;
    height: 110%;
    top: -5px;
  }
}

.tab-title {
  color: $primary;
  font-weight: 500;
  font-size: 18px;
}

.buttons {
  display: flex;
  justify-content: flex-end;
  margin-top: 16px;

  button {
    max-width: 150px !important;
    min-width: 150px !important;
    text-transform: uppercase;
  }
}

.add-button {
  text-transform: uppercase;
}

.general-information {
  margin-bottom: 64px;
  margin-top: 24px;

  ::ng-deep .input {
    border: none !important;
    border-bottom: 1px solid #dadbdb !important;
    border-radius: 0;
  }
}

::ng-deep {
  .iti {
    width: 100%;
  }

  .phone-input {
    width: 100%;
    padding: 6px 8px;
    border: none !important;
    border-bottom: 1px solid #dadbdb !important;
    border-radius: 0;
    outline: none;
    font-size: 16px;
    color: #666;
    background: rgba(245, 248, 249, 0.3);
    transition: all 0.2s;

    &:focus {
      color: black;
      font-weight: 500;
      border-color: $primary;
      box-shadow: 0 0 5px $primary;
    }

    &.ng-touched.ng-invalid {
      border-color: $error !important;
    }
  }
}

.six-or-more {
  font-size: 13px;
  flex: 1;
  align-items: center;
  display: flex;

  b {
    color: $primary;
    margin-right: 3px;
  }
}