@import '../../../../../assets/scss/variables';

.activity {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 16px;

  &:first-child {
    margin-top: 0;
  }

  &.is-past {
    opacity: 0.5;
  }

  i {
    color: $primary;
  }

  span {
    border: 1px solid #ddd;
    padding: 6px;
    display: inline-block;
    border-radius: 5px;
    font-size: 14px;
    color: #999;

    &:first-child {
      margin-right: 8px;
      color: $primary;
      border-color: $primary;
    }

    &:last-child {
      margin-left: 8px;
    }
  }
}
